# goHome systemd .service file
#
#     sudo cp setup/goHome.service /etc/systemd/system/goHome.service
#     sudo systemctl daemon-reload
#     sudo systemctl enable goHome.service
#     sudo systemctl start goHome.service
#
# Manual start|stop|restart with :
#    sudo systemctl start|stop|restart goHome.service
#

[Unit]
Description=goHome domotic operation
After=multi-user.target

[Service]
Type=simple

# User to run the daemon
User=pi

# Make sure the binary can open port under 1024
#ExecStartPre=sudo setcap CAP_NET_BIND_SERVICE=+eip `readlink -f /usr/local/bin/goHome`


# Main cmd
ExecStart=/usr/local/bin/goHome -sqlite3=/var/goHome/goHome.sqlite3 -stderrthreshold=INFO -vmodule=*=1
RestartSec=4
TimeoutSec=4

Restart=always

[Install]
WantedBy=multi-user.target
